@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
